{% extends "_layouts/auth.njk" %} {% block body %}
<form action="/" method="post">
  <img src="/images/logo.png" height="120"/>
  {% include "_partials/flash.njk"%}
  <input type="text" name="email" id="email" placeholder="e-mail" />
  <input type="password" name="password" placeholder="Seha de login" />

  <button type="submit">Entrar</button>

  <a href="/signup">Criar conta</a>
</form>

{% endblock%}
