<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="/css/cardServers.css" />
<form action="/app/serverManager" method="GET">
  <div id="make-3D-space">
    <div id="product-card">
      <div id="product-front">
        <div class="shadow"></div>
        <img src="/images/server.png" alt="" height="320" />
        <div class="image_overlay"></div>
        <div id="view_details">View details</div>
        <div class="stats">
          <div class="stats-container">
            <span class="serverStatus">running</span>
            <span class="product_name">Server 1</span>
            <p>Issue SW-14</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button id="btn_view_details" type="submit" style="display: none;">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/cardServers.js"></script>
