{% include "_layouts/decorator.njk" %}
<link rel="stylesheet" href="/css/createUser.css" />
{% block body %}
<form action="/app/createUser" method="post" enctype="multipart/form-data">
  <label for="avatar">
    <img src="/images/avatar.svg" alt="avatar" height="24" name="avatar" />
  </label>
  <input type="file" name="avatar" id="avatar" />

  <input type="text" name="name" id="name" placeholder="Nome Completo" />
  <input type="text" name="email" id="email" placeholder="e-mail" />
  <input type="password" name="password" placeholder="Seha de login" />

  <button type="submit">Criar Conta</button>
</form>

<script>
  var avatarInput = document.getElementById("avatar");
  var img = document.querySelector("label[for=avatar] img");

  avatarInput.onchange = function(e) {
    img.classList.add("preview");
    img.src = URL.createObjectURL(e.target.files[0]);
  };
</script>

{% endblock%}
